# BACKEND
DATABASE_URL=
JWT_SECRET=
REDIS_URL=
JWT_EXPIRES_IN=

# DATABASE
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# CACHE
CACHE_HOST=
CACHE_PORT=
CACHE_PASSWORD=

# ADMINER
ADMINER_DEFAULT_SERVER=